<form [formGroup]="registerUserForm">
  <div class="grid-container">


    <mat-tab-group>
      <mat-tab label="Guardar">

        <mat-card>
          <mat-card-header>
            <mat-card-title>
              Mandamiento
            </mat-card-title>
            <mat-card-subtitle>
              Datos de generales para la creación del mandamiento.
            </mat-card-subtitle>
          </mat-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field fxFlex fxFlex.xs>
              <input required matInput placeholder="Número" maxlength="20" formControlName="numero">
            </mat-form-field>
            <mat-form-field fxFlex fxFlex.xs>
              <input required matInput placeholder="Ciudad" maxlength="20" formControlName="ciudad">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field fxFlex fxFlex.xs>
              <mat-select required formControlName="expediente" placeholder="Expediente">
                <mat-option *ngFor="let role of roles" [value]="role._id">
                  {{role.Name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex fxFlex.xs>
              <input required type="number" maxlength="10" matInput placeholder="Referencia C"
                formControlName="referenciaC">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field fxFlex fxFlex.xs>
              <input type="text" maxlength="50" matInput placeholder="Dirección" formControlName="direccion">
            </mat-form-field>
            <mat-form-field fxFlex fxFlex.xs>
              <input required type="number" maxlength="10" matInput placeholder="Propietario"
                formControlName="propietario">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field fxFlex fxFlex.xs>
              <input type="text" maxlength="200" matInput placeholder="Resolución" formControlName="resolucion">
            </mat-form-field>
            <mat-form-field fxFlex fxFlex.xs>
              <input type="text" maxlength="200" matInput placeholder="Valor" formControlName="valor">
            </mat-form-field>
          </div>
        </mat-card>
        <br>

        <div fxLayoutAlign="start start" fxLayoutGap="10px">
          <button mat-button type="reset" *ngIf="isEdit == false ">Limpiar</button>
          <button mat-button mat-raised-button color="primary" [disabled]="registerUserForm.invalid" (click)="save()">
            Guardar mandamiento
          </button>
          <button mat-button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>

        </div>
      </mat-tab>
      <mat-tab label="Listado">
          <div fxLayout="row">
              <table mat-table fxFlex [dataSource]="dataSource" class="mat-elevation-z8">
  
                  <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
                
                  <!-- Position Column -->
                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                  </ng-container>
                
                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Expediente </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
                
                  <!-- Weight Column -->
                  <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Referencia catastral </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                  </ng-container>
                
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Ciudad </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
          </div>
      </mat-tab>
    </mat-tab-group>

  </div>

</form>
