<form [formGroup]="registerUserForm">
  <div class="grid-container">

    <mat-tab-group>
      <mat-tab label="Guardar">

        <mat-card>
          <mat-card-header>
            <mat-card-title>
              Resolución vigente
            </mat-card-title>
            <mat-card-subtitle>
              Datos de generales para la creación de resolución vigente.
            </mat-card-subtitle>
          </mat-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field fxFlex fxFlex.xs>
              <input required matInput placeholder="Número de resolución" maxlength="20" formControlName="Resoluciones_No">
            </mat-form-field>
            <mat-form-field fxFlex fxFlex.xs>
              <input required matInput placeholder="Nombre" maxlength="20" formControlName="Nombre">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field fxFlex fxFlex.xs>
              <input required type="number" maxlength="10" matInput placeholder="Referencia"
                formControlName="Referencia">
            </mat-form-field>

            <mat-form-field fxFlex fxFlex.xs>
                <input type="text" maxlength="50" matInput placeholder="Matricula" formControlName="Matricula">
              </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field fxFlex fxFlex.xs>
              <input type="text" maxlength="50" matInput placeholder="Direccion" formControlName="Direccion">
            </mat-form-field>
            <mat-form-field fxFlex fxFlex.xs>
              <input required type="number" maxlength="10" matInput placeholder="Valor"
                formControlName="Valor">
            </mat-form-field>
          </div>
       
        </mat-card>
        <br>
        <div fxLayoutAlign="start start" fxLayoutGap="10px">
          <button mat-button mat-raised-button color="primary" [disabled]="registerUserForm.invalid" (click)="save()">
            Guardar resolución vigente
          </button>
          <button mat-button type="reset" >Limpiar</button>

        </div>
      </mat-tab>

      <mat-tab label="Listado"> 
        <div fxLayout="row">
            <table mat-table fxFlex [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="numero">
                  <th mat-header-cell *matHeaderCellDef> Número de resolución. </th>
                  <td mat-cell *matCellDef="let element"> {{element.Resoluciones_No}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="referencia">
                  <th mat-header-cell *matHeaderCellDef> Referencia catastral </th>
                  <td mat-cell *matCellDef="let element"> {{element.Referencia}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="valor">
                  <th mat-header-cell *matHeaderCellDef> Valor </th>
                  <td mat-cell *matCellDef="let element"> {{element.Valor}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
        <mat-paginator [length]="length" [pageSizeOptions]="[5, 10, 20]" (page)="list($event)">
          </mat-paginator>
  
      </mat-tab>
    </mat-tab-group>

  </div>

</form>
