<mat-sidenav-container class="sidenav-container" fullscreen>
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let item of navModel" mat-list-item (click)='navigateTo(item.link)'>
        <mat-icon>{{item.icon}}</mat-icon>
        {{item.name}}
      </a>
      <a mat-list-item (click)="logout()"><mat-icon>power_settings_new</mat-icon>Cerrar sesión</a> 

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Impuesto predial</span>
    </mat-toolbar>
    <div >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
