<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>
        Welcome
      </mat-card-title>
      <mat-card-subtitle>
        Welcome message to your application
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row">
        Welcome content for your application
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>
        Dashboard 1
      </mat-card-title>
      <mat-card-subtitle>
        Dashboard 1 message to your application
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row">
        Dashboard 1 content for your application
      </div>
    </mat-card-content>
  </mat-card>
</div>
<br>
<div fxLayout="row">
  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>
        Dashboard 2
      </mat-card-title>
      <mat-card-subtitle>
        Dashboard 2 subtitle to your application
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row">
        Dashboard 2 content for your application
      </div>
    </mat-card-content>
  </mat-card>
</div>