<div class="grid-container" fxLayout="row" fxLayoutAlign="center center">

  <mat-card fxFlex class="mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>
          {{ 'SETTINGS' | translate}}
        </mat-card-title>
        <mat-card-subtitle>
          {{ 'SETTINGS_IN_YOUR_APPLICATION' | translate }} 
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row">
        {{ 'SETTINGS_IN_YOUR_APPLICATION' | translate }} 
      </div>
    </mat-card-content>
  </mat-card>
</div>
